/* // No Tasks Message */
.add-task-msg {
  text-align: center;
  margin: 3rem;
}

/* // Tasks */
.task {
  list-style-type: none;

  background: darkslategray;
  border: 1px solid white;
  border-radius: 10px;

  padding: 1rem;
  margin-bottom: 1rem;

  transition: box-shadow 1s;
}


.task:last-of-type {
  margin-bottom: 0;
}

/* // Run Background Gradient Animation when task is running */
.task.running {
  /* background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab); */
  background: linear-gradient(90deg, #23a6d5, #23d5ab,#23a6d5);
	background-size: 400% 400%;

  box-shadow: 0 0 10px white;
  transition: box-shadow .3s;

  animation: gradient 2s linear infinite reverse;
}

/* // Gradient Background Animation */
@keyframes gradient {
	0% {
		background-position: -20% 50%;
    /* box-shadow: 0 0 1px white; */
	}
  50% {
    /* box-shadow: 0 0 10px white; */
  }
	100% {
		background-position: 120% 50%;
    /* box-shadow: 0 0 1px white; */
	}
}


/* // Task Title Area + Icon Buttons */
.task-name {
  display: flex;
  justify-content: space-between;

  text-transform: capitalize;
  margin-bottom: 1rem;
}

/* Icon Buttons */
.edit-time-btn,
.edit-btn,
.delete-btn {
  cursor: pointer;
  transition: .8s;
}



/* Edit and Delete Icon Buttons Hover */
.edit-time-btn:hover,
.edit-btn:hover {
  fill: yellow;
  filter: drop-shadow(0 0 1px white);
  transition: .3s;
}
.delete-btn:hover {
  fill: coral;
  filter: drop-shadow(0 0 1px red);
  transition: .3s;
}


/* Edit Time Icon Button When Time Editing Form is Open */
.edit-time-btn.edit-time-btn-form-visible {
  fill: yellow;
  filter: drop-shadow(0 0 1px black);
  transition: .3s;
}

/* // Task Info Area + Timer Buttons */
.task-info {
  display: flex;
  justify-content: center;
}

/* Task Sorting Buttons */
.sort-btns {
  display: flex;
  flex-flow: column;
  align-self: flex-start;
}

.sort-btn {
  font-size: 2.5rem;
  filter: drop-shadow(-2px 2px 1px black);
  cursor: pointer;

  transition: .3s;
}

.sort-btn:hover {
  transform: scale(1.1);
  fill: yellow;
  cursor: pointer;

  transition: .3s;
}

.task-time,
.task-buttons {
  flex: 1;
}

.task-time {
  font-family: 'Share Tech Mono', monospace;
  display: flex;
  justify-content: center;
  align-items: center;
}



.task-buttons {
  font-family: 'Acme', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Overwrite user-agent font for <button>s - namely, the start/stop button*/
button {
  font-family: 'Acme', sans-serif;
}

.btn {
  flex: 1;
  height: 4rem;
  margin-right: .5rem;

  border: 2px solid black;
  border-radius: 50px;

  font-size: 2.5rem;

  transition: .8s;

  cursor: pointer;
}

.task-btn {
  /* flex: 1;
  height: 4rem; */

  /* background: radial-gradient(white, white); */
  background: lightgreen;
  /* border: 3px solid black;
  border-radius: 50px;

  font-size: 2.5rem;

  transition: .8s;

  cursor: pointer; */
}

.task-btn.running {
  background: lightcoral;
}

.btn:hover {
  box-shadow: 0 0 5px white;
  border: 2px solid white;
  transition: .3s;
}

.task-btn.running:hover {
  transition: .3s;
}

.btn:active {
  box-shadow: 0 0 10px white;
  transform: scale(.95);
  transition: 0s;
}
.btn.running:active {
  box-shadow: 0 0 10px white;
  transform: scale(.95);
  transition: 0s;
}

.btn.disabled {
  transform: scale(1);
  box-shadow: none ;
  border: 2px solid grey;
  background: grey;
  color: rgb(40, 40, 40);
  cursor: no-drop;
  transition: .2s;
}
