/* // No Tasks Message */
.add-task-msg {
  text-align: center;
  margin: 3rem;
}

/* // Tasks */
.task {
  list-style-type: none;

  background: var(--task-bg);
  border: 2px solid black;
  /* border: 1px solid rgba(255,255,255, .5); */
  border-radius: 10px;

  padding: 1rem;
  margin-bottom: 1rem;

  box-shadow: -2px 2px 3px black, inset -2px 2px 10px 3px rgba(255,255,255, .2);

  transition: box-shadow 1s;

  position: relative;

}


.task:last-of-type {
  margin-bottom: 0;
}

.clear-bottom-margin {
  margin-bottom: 0;
}

/* // Run Background Gradient Animation when task is running */
.task.running {
  /* background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab); */
  /* background: linear-gradient(90deg, #227ea0, #23d5ab,#23a6d5); */
  background: var(--task-running-gradient);
  /* //TODO transparent version....? */
  /* background: linear-gradient(90deg, rgba(35, 165, 213, .5), rgba(35, 213, 171, .7),rgba(35, 165, 213,.5)); */
	background-size: 400% 400%;

  box-shadow: 0 0 10px white, inset -2px 2px 10px 3px rgba(255,255,255, .5);
  transition: box-shadow .3s;

  animation: gradient 2s linear infinite reverse;
}

/* // Gradient Background Animation */
@keyframes gradient {
	0% {
		background-position: -20% 50%;
    /* box-shadow: 0 0 1px white; */
	}
  50% {
    /* box-shadow: 0 0 10px white; */
  }
	100% {
		/* background-position: 120% 50%; */
		background-position: 115% 50%;
    /* box-shadow: 0 0 1px white; */
	}
}


/* // Task Title Area + Icon Buttons */
.task-name {
  display: flex;
  justify-content: space-between;

  text-transform: capitalize;
  /* margin-bottom: 1rem; */

}

/* Icon Buttons */
.icon-buttons {
  display: flex;
}

/* .timeframe-toggle-btn, */
.edit-time-btn,
.edit-btn,
.delete-btn {
  cursor: pointer;
  transition: .8s;
}



/* // Edit and Delete Icon Buttons Hover */
/* .timeframe-toggle-btn:hover, */
.edit-time-btn:hover,
.edit-btn:hover {
  fill: yellow;
  filter: drop-shadow(0 0 1px white);
  transition: .3s;
}
.delete-btn:hover {
  fill: coral;
  filter: drop-shadow(0 0 1px red);
  transition: .3s;
}


/* Edit Time Icon Button When Time Editing Form is Open */
.edit-time-btn.edit-time-btn-form-visible {
  fill: yellow;
  filter: drop-shadow(0 0 1px black);
  transition: .3s;
}

.edit-time-btn.edit-time-btn-form-visible:hover {
  fill: yellow;
  filter: drop-shadow(0 0 1px white);
  transition: .3s;
}

/* //TODO Icon Tooltips??? Might be better to do with pure programminginstead of data-attributes. */
/* .timeframe-toggle-btn-wrapper {
  position: relative;
} */

.timeframe-toggle-btn-wrapper:hover::after {
  /* content: attr(data-tooltip); */
  /* font-size: 1rem; */
  /* padding: 5px; */

  /* background: tan; */

  /* white-space: nowrap; */

  /* position: absolute; */
}

.task-time {
  position: relative;
}

.hover-popup {
  opacity: 0;
  display: none;
  color: white;

  text-shadow:none;

  position: absolute;
  left: 50%;
  bottom: -25px;
  transform: translateX(-50%);
  white-space: nowrap;

  background: var(--tooltip-bg);
  border-radius: 5px;
  border: 1px solid white;

  padding: .5rem;

  font-size: 1.5rem;
}

.task-time:hover > .hover-popup {
  opacity: 1;
  display: block;

  transition: .3s ease .75s;

  pointer-events: none;
}

/* ! Task Info Area: Sort Buttons, Live Timer, Big Timer Button */
.task-info {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 8rem; */
}

/* Task Sorting Buttons */
.sort-btns {
  height: 100%;

  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;

  align-self: flex-start;
}

.sort-btn {
  font-size: 2.5rem;
  filter: drop-shadow(-2px 2px 1px var(--text-shadow-color));
  cursor: pointer;
  transform: scale(1.4);

  transition: .3s;
}

.sort-btn:hover {
  transform: scale(1.5);
  fill: yellow;
  cursor: pointer;

  transition: .3s;
}

/*// Main Task Time Display */
/* Task time and Task Buttons Flex */
.task-time {
  flex: 1
}
/* @media all and (max-width: 500px) {
  .task-time {
    flex: 2;
  }
} */
@media all and (max-width: 570px) {
  .task-time {
    flex: 3;
  }
}

@media all and (max-width: 335px) {
  .task-time {
    flex: 5;
  }
}

.task-buttons {
  flex: 1;
}
/* --End Task time and Task Buttons Flex */

/* Task Time & Today/Infinite Icons */
.task-time {
  font-family: 'Share Tech Mono', monospace;
  display: flex;
  /* flex-flow: column nowrap; */
  justify-content: center;
  align-items: center;

  border: 2px solid rgba(0,0,0,0);
  border-radius: 50px;
  box-shadow: var(--button-shine-invis);

  height: 4rem;

  transition: .6s;

  user-select: none;
  cursor: pointer;
}

@media all and (max-width: 420px) {
  .task-time {
    font-size: 2rem;
  }
}


.task-time:hover {
  /* filter: drop-shadow(0 0 2px white); */
  /* text-shadow: 0 0 1px white; */
  box-shadow: var(--button-shine);
  background: var(--button-transparent);
  border: 2px solid rgba(255,255,255,.5);

  transition: .3s;
}

/* .task-time:hover .timeframe-toggle-btn-big {
  border: 2px solid white;

  transition: .3s;
} */
.task-time:hover .timeframe-toggle-btn-big {
  /* border: 2px solid white; */

  /* transition: .3s; */
}

/* .task-time:active .timeframe-toggle-btn-big {
  box-shadow: 0 0 5px white;
} */
.task-time:active {
  box-shadow: var(--button-shine-click);
}

.task-time p {
  display: flex;
  align-items: center;
}

.timeframe-toggle-btn-big {
  display: flex;
  align-items: center;
  align-self: flex-start;

  margin-right: .3rem;
  
  font-size: 2rem;

  padding: .7rem;

  /* background: lightgreen; */
  /* color: black; */

  /* border-radius: 10px 0 0 10px; */

  /* border: 2px solid black; */

  /* box-shadow: var(--button-shine); */
}

.icon-shadow {
  filter: drop-shadow(-2px 2px 2px var(--text-shadow-color));
}

@media all and (max-width: 420px) {
  .timeframe-toggle-btn-big {
    font-size: 1.6rem;
    padding: .7rem;
  }
}



/* Big Start/Stop Button */
.task-buttons {
  font-family: 'Acme', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Overwrite user-agent font for <button>s - namely, the start/stop button*/
button {
  font-family: 'Acme', sans-serif;
}

.btn {
  flex: 1;
  height: 4rem;


  border: 2px solid black;
  border-radius: 50px;

  font-size: 2.5rem;

  transition: .8s;

  cursor: pointer;
}

.task-btn {
  background: var(--button-green);
  /* box-shadow: -2px 2px 1px black, inset 2px 2px 10px rgba(255,255,255, .5); */
  /* box-shadow: inset 2px 2px 10px 3px rgba(255,255,255, .7); */
  display: flex;
  justify-content: center;
  align-items: center;

  box-shadow: var(--button-shine);

  margin-right: .5rem;
}

.task-btn.running {
  background: var(--button-red);
}

.btn:hover {
  /* box-shadow: 0 0 5px white, var(--button-shine); */
  /* box-shadow: var(--button-shine); */
  border: 2px solid white;
  transition: .3s;
}

/* .task-btn.running:hover {
  transition: .3s;
} */

.btn:active {
  box-shadow: var(--button-shine-click);
  /* box-shadow: 0 0 0 white, inset -2px -2px 5px rgba(0,0,0,.9), inset 2px 2px 10px rgba(255,255,255, .9); */
  /* box-shadow: 0 0 10px white; */
  transition: box-shadow 0s;
}
.btn.running:active {
  box-shadow: var(--button-shine-click);
  /* box-shadow: 0 0 0 white, inset -2px -2px 5px rgba(0,0,0,.9), inset 2px 2px 10px rgba(255,255,255, .9); */
  /* box-shadow: 0 0 10px white; */
  transition: box-shadow 0s;
}

.disabled,
:hover.disabled {
  fill: grey;
  filter: drop-shadow(0 0 1px black);
  transition: .2s;
  cursor: no-drop;
}

