.help-window-wrapper {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 10;
  height: 100%;
  background: rgba(0,0,0,.9);
  color: white;
  text-shadow: none;

  padding: 1rem;
  /* pointer-events: none; */

  text-align: center;
}





.slide {
  font-family: 'Source Sans Pro', sans-serif;
  margin-bottom: 2rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  height: 100vh;
}

.slide-header {
  font-family: 'Acme', sans-serif;
  flex-grow: unset;
  padding-top: 1rem;
}

.slide-desc {
  /* margin: auto; */
  /* min-height: 30rem; */
}

.slide-desc-sentence {
  margin-bottom: 2rem;
}

.slide-desc-sentence:last-of-type {
  margin-bottom: 0;
}

.slide-img {
  height: 20rem;
}

.slide-nav {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 1rem;
}

.slide-nav-item {
  margin-right: .5rem;
  transition: .3s;
  cursor: pointer;
}

.nav-btns {
  margin-top: auto;
}

.btn-nav {
  height: 7rem;
  margin-bottom: 1rem;
  color: var(--button-history-text-color);
}

.dot {
  font-size: 2.75rem;
}

.dot:hover {
  color: yellow;
}

.current-dot {
  transform: scale(1.25);
  color: yellow;
}

.btn-prev {
  border-radius: 50px 0 0 50px;
  /* background: var(--button-green); */
  /* background: rgb(255, 255, 76); */
}

.btn-skip {
  border-radius: 0;
  /* background: yellow; */
}

.btn-next {
  border-radius: 0 50px 50px 0;
  /* background: var(--button-green); */
  /* background: yellow; */
}

.btn {
  user-select: none;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.disabled {
  background-color: grey;
  box-shadow: none !important;
  border: 2px solid black !important;
}

.next-done {
  background: var(--button-green);
}

