.categories {
  display: flex;
  align-items: flex-end;
  /* display: flow-root; */
  margin-left: .8rem;
  margin-right: .8rem;
  /* overflow: visible; */
  overflow-x: auto;
  overflow-y: auto;
  height: 6rem;

  transition: .1s linear;
}

.category {
  display: flex;
  justify-content: center;
  align-items: flex-start;

  padding: .75rem 1rem 1rem 1rem;
  margin-right: .2rem;

  border-left: 2px solid black;
  border-right: 2px solid black;
  border-top: 2px solid black;
  border-bottom: none;

  border-radius: 10px 10px 0 0;

  text-align: center;

  box-shadow: var(--button-shine);

  flex: 0;
  
  /* background: var(--app-bg); */
  background: var(--task-bg);
  /* background: var(--button-transparent); */

  cursor: pointer;

  white-space: nowrap;
}

.category:last-of-type {
  margin-right: none;
}

.category:hover {
  border-bottom: none;
}

.category:active {
  box-shadow: none;

}

.current-category {
  border-left: 2px solid var(--current-category-tab-border-color);
  border-right: 2px solid var(--current-category-tab-border-color);
  border-top: 2px solid var(--current-category-tab-border-color);
  height: 5rem;
  /* background: var(--app-bg); */
  /* background: var(--task-running-gradient); */
  background: var(--button-transparent);
}

.uncategorized {
  margin-left: auto;
}