/* ! CSS RESET */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
  box-sizing: border-box;
  /* user-select: none; */
}

/* ! ROOT VARIABLES */
:root {
  /* // TEXT */
  --text-color: yellow;

  /* // HTML Background Color */
  /* --global-bg: linear-gradient(170deg, rgb(72, 253, 238), rgb(0,0,0), rgb(20,20,20)); */
  --global-bg: linear-gradient(rgb(72, 253, 238), rgb(0, 30, 31), rgb(0, 0, 0));
  /* // App Box */
  /* --app-bg: rgba(50, 50, 50); */
  /* --app-bg: linear-gradient(rgb(0, 66, 68), rgb(0, 204, 211), rgb(0, 247, 255)); */
  --app-bg: linear-gradient(rgb(0, 66, 68), rgb(0, 156, 161));
  --app-max-width: 800px;


  /* // 3D Button Shine */
  --button-shine: inset 2px 2px 10px rgba(255,255,255, .9), inset -2px -2px 5px rgba(0,0,0,.9);
  /* --button-shine-click: inset -2px -2px 5px rgba(0,0,0,.9), inset 2px 2px 10px rgba(255,255,255, .9); */
  --button-shine-click: 0 0 15px white;
  --button-shine-click: 0 0 15px white;
  --button-shine-invis: inset 2px 2px 10px rgba(255,255,255, 0), inset -2px -2px 5px rgba(0,0,0,0);

  /* // Button Colors */
  --button-green: lightgreen;
  --button-red: lightcoral;

  --button-subtract: lightcoral;
  --button-add: lightgreen; 
  --button-set: yellow;
  --button-delete: lightcoral;

  --button-history: rgb(144, 216, 238);
  --button-transparent: rgba(19, 208, 255, 0.2);
  /* --button-transparent: rgb(144, 216, 238); */


  /* // Scrollbar Colors */
  --scrollbar-thumb: rgb(144, 216, 238);
  --scrollbar-track: grey;
  --scrollbar-thumb-border: black;

  /* // Task Colors */
  /* --task-bg: darkslategray; */
  --task-bg: darkslategray;
  --task-border-color: white;
  --task-running-gradient: linear-gradient(90deg, #23a6d5, #23d5ab,#23a6d5);
  /* --task-running-gradient: linear-gradient(90deg, #d52923, #c023d5,#d52923);  */

  /* --tooltip-bg: darkslategray; */


  /* // Heatmap Colors */
  --heat-low: rgb(0, 58, 0);
  --heat-lowmed: rgb(0, 99, 0);
  --heat-med: rgb(0, 131, 0);
  --heat-medhigh: rgb(0, 177, 0);
  --heat-high: rgb(0, 255, 0);
  
}
/* ! END ROOT VARIABLES */

/* ! THEMES */
/* // ----- MAKO THEME ----- */
:root .theme-mako {
  /* // Text */
  --text-color: white;
  --text-shadow-color: black;

  /* // Global/App */
  --global-bg: linear-gradient(rgb(72, 253, 238), rgb(0, 30, 31), rgb(0, 0, 0));
  --app-bg: linear-gradient(rgb(0, 66, 68), rgb(0, 156, 161));
  --app-border-color: black;

  /* // Task */
  --task-bg: darkslategray;
  --task-running-gradient: linear-gradient(90deg, #23a6d5, #23d5ab,#23a6d5);

  /* // Tooltips */
  --tooltip-bg: darkslategray;

  /* // Buttons */
  --button-green: lightgreen;
  --button-red: lightcoral;

  --button-subtract: lightcoral;
  --button-add: lightgreen; 
  --button-set: yellow;
  --button-delete: lightcoral;

  --button-history: rgb(144, 216, 238);
  --button-transparent: rgba(19, 208, 255, 0.2);


  /* // Heatmap */
  --heat-low: rgb(0, 58, 0);
  --heat-lowmed: rgb(0, 99, 0);
  --heat-med: rgb(0, 131, 0);
  --heat-medhigh: rgb(0, 177, 0);
  --heat-high: rgb(0, 255, 0);
}

/*// ---- DARK THEME ---- */
:root .theme-dark {
  /* // Text */
  --text-color: rgb(255, 255, 255);
  --text-shadow-color: black;

  /* // Global/App */
  --global-bg: #1E1E1E;
  --app-bg: linear-gradient(rgb(2, 2, 2), rgb(29, 29, 29));
  --app-border-color: black;
  
  /* // Task */
  --task-bg: #1E1E1E;
  --task-running-gradient: linear-gradient(90deg, #1E1E1E, #5e5e5e,#1E1E1E);

  /* // Tooltips */
  --tooltip-bg: rgb(46, 46, 46);

  /* // Buttons */
  --button-green: rgb(255, 255, 255);
  --button-red: rgb(255, 255, 255);

  --button-subtract: white;
  --button-add: white; 
  --button-set: white;
  --button-delete: white;

  --button-history: rgb(255, 255, 255);
  --button-transparent: rgba(245, 245, 245, 0.2);

  /* // Heatmap */
  --heat-low: rgb(58, 58, 58);
  --heat-lowmed: rgb(99, 99, 99);
  --heat-med: rgb(131, 131, 131);
  --heat-medhigh: rgb(177, 177, 177);
  --heat-high: rgb(255, 255, 255);
}

/* // ----- HALLOWEEN THEME ----- */
:root .theme-halloween {
  --text-color: orange;
  --text-shadow-color: black;

  /* // Global/App */
  --global-bg: #1E1E1E;
  --app-bg: linear-gradient(rgb(2, 2, 2), rgb(29, 29, 29));
  --app-border-color: black;
  
  /* // Task */
  --task-bg: #1E1E1E;
  --task-running-gradient: linear-gradient(90deg, #1E1E1E, #5e5e5e,#1E1E1E);

  /* // Tooltips */
  --tooltip-bg: rgb(46, 46, 46);

  /* // Buttons */
  --button-green: rgb(255, 255, 255);
  --button-red: rgb(255, 255, 255);

  --button-subtract: white;
  --button-add: white; 
  --button-set: white;
  --button-delete: white;

  --button-history: rgb(255, 255, 255);
  --button-transparent: rgba(245, 245, 245, 0.2);

  /* // Heatmap */
  --heat-low: rgb(58, 58, 58);
  --heat-lowmed: rgb(99, 99, 99);
  --heat-med: rgb(131, 131, 131);
  --heat-medhigh: rgb(177, 177, 177);
  --heat-high: rgb(255, 255, 255);

}

/* // ----- LIGHT THEME ----- */
:root .theme-light {
  /* // Text */
  --text-color: black;
  --text-shadow-color: rgb(194, 194, 194);

  /* // Global/App */
  --global-bg: rgb(255, 255, 255);
  --app-bg: rgb(255, 255, 255);
  --app-border-color: black;
  --app-border-color: rgba(0,0,0,0);

  /* // Task */
  --task-bg: rgb(255, 255, 255);
  --task-running-gradient: linear-gradient(90deg, #1E1E1E, #5e5e5e,#1E1E1E);

  /* // Tooltips */
  --tooltip-bg: rgb(46, 46, 46);

  /* // Buttons */
  --button-green: lightgreen;
  --button-red: lightcoral;

  --button-subtract: lightcoral;
  --button-add: lightgreen; 
  --button-set: yellow;
  --button-delete: lightcoral;

  --button-history: rgb(233, 233, 233);
  --button-transparent: rgba(245, 245, 245, 0.2);

  /* // Heatmap */
  --heat-low: rgb(0, 58, 0);
  --heat-lowmed: rgb(0, 99, 0);
  --heat-med: rgb(0, 131, 0);
  --heat-medhigh: rgb(0, 177, 0);
  --heat-high: rgb(0, 255, 0);
}


/* ! END THEMES */

/* ! Global Styles */
/* //Fonts */
/* Share Tech Mono */
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
/* source Sans Pro */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
/* Acme */
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');




html {
  font-size: 62.5%;
  /* height: 200vh; */
  background: cyan;
  /* background-attachment: fixed; */
  overflow:auto;
}

#root, body {
  height: 100%;
  min-height: 100vh;
}



body {
  font-size: 2.5rem;
  /* overflow: auto; */
}


.text-shadow {
  text-shadow: -2px 2px 2px var(--text-shadow-color), 0 0 1px var(--text-shadow-color), 0 0 2px var(--text-shadow-color);
}

h1 {
  font-size: 3rem;
}

/* // COLLAPSE/REVEAL ANIMATIONS + HIDDEN */
.slide-able {
  overflow: hidden;
  /* height: unset; */
}

.collapse {
  animation: hidebig .6s ease-in-out forwards;
}

.reveal {
  animation: revealbig .6s ease-in-out forwards;
}
.collapse-small {
  animation: hide .3s ease-in-out forwards;
}

.reveal-small {
  animation: reveal .3s ease-in-out forwards;
}

.revealed {
  max-height: fit-content;
}

.hidden {
  height: 0;
  /* overflow: hidden; */
  max-height: 0;
  opacity: 0;
  animation: none;

}

.relative {
  position: relative;
}

.full-size {
  width: 100%;
  height: 100%;
}

@keyframes reveal {
  0% {
    max-height: 0;
    margin-bottom: 0;
    opacity: 0;
  }
  33% {
    max-height: 15rem;
    margin-bottom: 1rem;
    opacity: 0;
  }
  100% {
    max-height: 15rem;
    margin-bottom: 1rem;
    opacity: 1;
  }
}

@keyframes hide {
  0% {
    max-height: 15rem;
    margin-bottom: 1rem;
    opacity: 1;
  }
  33% {
    max-height: 15rem;
    margin-bottom: 1rem;
    opacity: 0;
  }
  100% {
    max-height: 0;
    margin-bottom: 0;
    opacity: 0;
  }
}

@keyframes revealbig {
  0% {
    max-height: 0;
    opacity: 0;
  }
  33% {
    max-height: 49rem;
    opacity: 0;
  }
  100% {
    max-height: 49rem;
    opacity: 1;
  }
}

@keyframes hidebig {
  0% {
    max-height: 49rem;
    opacity: 1;
  }
  33% {
    max-height: 49rem;
    opacity: 0;
  }
  100% {
    max-height: 0;
    opacity: 0;
  }
}

/* // BUTTON/ BUTTON ANIMATIONS */
.hover-grow:hover {
  transform: scale(1.2);
  transition: .3s;
  
  cursor: pointer;
}

.glow-click:active {
  filter: drop-shadow(0 0 1px white);
  fill: white;
  transition: .1s;
}

.invis-button {
  border: 2px solid rgba(0,0,0,0);

  transition: .3s;
}

.invis-button:hover {
  box-shadow: var(--button-shine);
  background: var(--button-transparent);
  border: 2px solid rgba(255,255,255,.5);

  transition: .3s;
}

/*// SCROLLBARS */
/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 5px;
  height: 10px;
}

*::-webkit-scrollbar-track {
  background: var(--scrollbar-track);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb);
  border-radius: 20px;
  /* border: 1px solid var(--scrollbar-thumb-border); */
}

/* ! END Global Styles */



/*! App.js */
/* // APP-WRAPPER */
.app-wrapper {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  background: var(--global-bg);
}


.app {
  position: relative;
  font-family: 'Acme';
  color: var(--text-color);

  max-width: var(--app-max-width);
  /* margin: 1rem auto auto auto;
  padding: 1rem; */
  margin: 0 auto auto auto;
  padding: 0 1rem 1rem 1rem;

  background: var(--app-bg);

  border: 1px solid var(--app-border-color);
  border-radius: 10px;
}

.app-wrapper {
  padding-top: 1rem;
}

/* // Convert app into a 'fullscreen app' on smaller width devices */
@media all and (max-width: 800px) {
  .app {
    margin: 0;

    min-height: 100vh;

    border: 0;
    border-radius: 0;


  }
  .app-wrapper {
    padding-top: 0;
  }
}

.menu-revealed {
  opacity: 1;
  transition: .3s;
}

.menu-hidden {
  opacity: 0;
  transition: .3s;
}
/* ! END App.js  */

