/* ! CSS RESET */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
  box-sizing: border-box;
}

/* ! Global + App.js Styles */
/* Fonts */
/* Share Tech Mono */
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
/* source Sans Pro */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
/* Acme */
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');


/* ! ROOT VARIABLES */
:root {
  /* // HTML Background Color */
  --global-bg: linear-gradient(170deg, rgb(72, 253, 238), rgb(0,0,0), rgb(20,20,20));
  --global-bg: linear-gradient(rgb(72, 253, 238), rgb(0, 30, 31), rgb(0, 0, 0));
  /* // App Box */
  /* --app-bg: rgba(50, 50, 50); */
  /* --app-bg: linear-gradient(rgb(0, 66, 68), rgb(0, 204, 211), rgb(0, 247, 255)); */
  --app-bg: linear-gradient(rgb(0, 66, 68), rgb(0, 156, 161));



  /* // 3D Button Shine */
  --button-shine: inset 2px 2px 10px rgba(255,255,255, .9), inset -2px -2px 5px rgba(0,0,0,.9);
  /* --button-shine-click: inset -2px -2px 5px rgba(0,0,0,.9), inset 2px 2px 10px rgba(255,255,255, .9); */
  --button-shine-click: 0 0 15px white;
  --button-shine-click: 0 0 15px white;
  --button-shine-invis: inset 2px 2px 10px rgba(255,255,255, 0), inset -2px -2px 5px rgba(0,0,0,0);

  /* // Button Colors */
  --button-green: lightgreen;
  --button-blue: rgb(144, 216, 238);
  --button-transparent: rgba(19, 208, 255, 0.2);
  /* --button-transparent: rgb(144, 216, 238); */


  /* // Scrollbar Colors */
  --scrollbar-thumb: rgb(144, 216, 238);
  --scrollbar-track: grey;
  --scrollbar-thumb-border: black;

}



/* //Global Styles */
html {
  font-size: 62.5%;
  height: 100vh;
  background: var(--global-bg);
  background-attachment: fixed;
}

body {
  font-size: 2.5rem;
  color: white;
}


.text-shadow {
  text-shadow: -2px 2px 2px black, 0 0 1px black, 0 0 2px black;
}

/* // COLLAPSE/REVEAL ANIMATIONS + HIDDEN */
.slide-able {
  overflow: hidden;
  /* height: unset; */
}

.collapse {
  animation: hidebig .6s ease-in-out forwards;
}

.reveal {
  animation: revealbig .6s ease-in-out forwards;
}

.revealed {
  max-height: fit-content;
}

.hidden {
  height: 0;
  /* overflow: hidden; */
  max-height: 0;
  opacity: 0;
  animation: none;
}

@keyframes reveal {
  0% {
    max-height: 0;
    /* height: 0; */
    opacity: 0;
  }
  33% {
    max-height: 15rem;
    /* height: auto; */
    opacity: 0;
  }
  100% {
    max-height: 15rem;
    /* height: auto; */
    opacity: 1;
  }
}

@keyframes hide {
  0% {
    max-height: 15rem;
    /* height: auto; */
    opacity: 1;
  }
  33% {
    max-height: 15rem;
    /* height: auto; */
    opacity: 0;
  }
  100% {
    max-height: 0;
    /* height: 0; */
    opacity: 0;
  }
}

@keyframes revealbig {
  0% {
    max-height: 0;
    /* height: 0; */
    opacity: 0;
  }
  33% {
    max-height: 49rem;
    /* height: auto; */
    opacity: 0;
  }
  100% {
    max-height: 49rem;
    /* height: auto; */
    opacity: 1;
  }
}

@keyframes hidebig {
  0% {
    max-height: 49rem;
    /* height: auto; */
    opacity: 1;
  }
  33% {
    max-height: 49rem;
    /* height: auto; */
    opacity: 0;
  }
  100% {
    max-height: 0;
    /* height: 0; */
    opacity: 0;
  }
}

/*! App.js */
.app {
  font-family: 'Acme';

  max-width: 800px;
  margin: 1rem auto auto auto;
  padding: 1rem;

  background: var(--app-bg);

  border: 1px solid black;
  border-radius: 10px;
}

@media all and (max-width: 800px) {
  .app {
    margin: 0;

    min-height: 100vh;
    /* height: 100%; */

    border: 0;
    /* border-radius: 0 0 10px 10px; */
    border-radius: 0;
  }
}


/* ! SCROLLBARS */
/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: var(--scrollbar-track);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb);
  border-radius: 20px;
  /* border: 1px solid var(--scrollbar-thumb-border); */
}
