






.heatmap-wrapper {
  width: 100%;
  /* overflow-x: scroll; */
  /* overflow-y:visible; */
}


.heatmap-grid {
  display: flex;
  flex-flow: row nowrap;
  align-content: center;
  justify-content: center;
  /* height: 90px; */

}

@media all and (max-width: 700px) {
  .heatmap-grid {
    justify-content: flex-end;
  }
}


.day-box {
  width: 10px;
  height: 10px;
  background: rgb(19, 19, 19);
  border-radius: 2px;
  /* border: 1px solid white; */
  margin: 1px;

  user-select: none;
  position: relative;

}

.day-box-text {
  width: 20px;

  font-size: 1rem;
  background: none;
}

.day-box-month {
  font-size: 1rem;
  background: none;
}


.day-box-hoverable:hover {
  border: 1px solid white;
  transition: .3s;

  cursor: pointer;
}

.day-box:hover > .day-popup {
  display: block;
}

.day-popup {
  display: none;

  color: black;

  position: absolute;
  right: -5px;
  bottom: 15px;

  z-index: 1;

  padding: 5px;

  background: lightgoldenrodyellow;
  border-radius: 5px;

  white-space: nowrap;

  pointer-events: none;
}

.day-popup::after {
  content: '';
  height: 10px;
  width: 10px;
  background: lightgoldenrodyellow;
  transform: rotate(45deg);

  position: absolute;
  bottom: -3px;
  right: 4px;
}

.day-popup.hover-left {
  right: unset;
  left: -5px;
  /* bottom: -3px; */
}

.day-popup.day-popup.hover-left::after {
  right: unset;
  bottom: -3px;
  left: 4px;
}


.heat-low {
  background: rgb(0, 58, 0);
}
.heat-lowmed {
  background: rgb(0, 99, 0);
}
.heat-med {
  background: rgb(0, 131, 0);
}
.heat-medhigh {
  background: rgb(0, 177, 0);
}
.heat-high {
  background: rgb(0, 255, 0);
}