






.heatmap-wrapper {
  width: 100%;
  /* overflow-x: scroll; */
  /* overflow-y:visible; */
}


.heatmap-grid {
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  /* justify-content: center; */
  height: 90px;

}


.day-box {
  width: 10px;
  height: 10px;
  background: black;
  border-radius: 2px;
  /* border: 1px solid white; */
  margin: 1px;
  position: relative;
  cursor: pointer;
}

.day-popup {
  position: absolute;
  display: none;
  right: 0px;
  top: -10px;
  z-index: 1;
  background: lightskyblue;
  white-space: nowrap;
  pointer-events: none;

}

.day-box:hover > .day-popup {
  display: block;

}


.heat-low {
  background: rgb(0, 58, 0);
}
.heat-lowmed {
  background: rgb(0, 99, 0);
}
.heat-med {
  background: rgb(0, 131, 0);
}
.heat-medhigh {
  background: rgb(0, 177, 0);
}
.heat-high {
  background: rgb(0, 223, 0);
}