.add-time {
  font-size: 2rem;
  /* margin-top: 1.4rem; */
  padding-top: 1rem;

  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.add-time.collapse,
.add-time.hidden {
  margin-top: 0;
  transition: .1s ease .5s;
}

.add-time p {
  text-align: center;
}

.add-subtract-btns {
  font-size: 5rem;

  display: flex;
  align-items: center;
}

.add-time form {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.add-time form div {
  display: flex;
  flex-flow: row;
}

#choose-date {
  width: 100px;
}

#add-hours,
#add-minutes {
  width: 100px;
}

.heading {
  display: block;
  text-align: center;
}

.time-edit-btn {
  cursor: pointer;
  transition: .6s;
  margin: .5rem .5rem 0 .5rem;
}

#add-time {
  fill: lightgreen;
}
#subtract-time {
  fill: lightcoral;
}

.time-edit-btn:hover {
  transform: scale(1.1);
  /* filter: drop-shadow(0 0 3px white); */
  transition: .3s;
}

.time-edit-btn:active {
  transform: scale(1.1);
  filter: drop-shadow(0 0 2px white);
  text-shadow: 0 0 3px white;
  transition: .1s;
}



.yellow {
  color: yellow;
  color: rgb(255, 255, 86);
}

.red {
  color: lightcoral;
}

.green {
  color: lightgreen;
}


.history-wrapper {
  overflow-y: scroll;
  max-height: 200px;
}

.flash {
  animation: flash 1s linear infinite;
}

@keyframes flash {
  0% {
    /* background-color: white; */
    /* color: white; */
    outline: 2px solid rgba(0,0,0,0);
  }
  50% {
    outline: 2px solid yellow;
    /* color: yellow; */
  }
  100% {
    /* background-color: white; */
    /* color: white; */
    outline: 2px solid rgba(0,0,0,0);
  }
}