.add-time {
  font-size: 2rem;
  margin-top: 1rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.add-subtract-btns {
  font-size: 5rem;

  display: flex;
  align-items: center;
}

.add-time form {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.add-time form div {
  display: flex;
  flex-flow: row;
}

#add-hours,
#add-minutes {
  width: 100px
}

.add-time span {
  display: block;
  text-align: center;
}

.time-edit-btn {
  cursor: pointer;
  transition: .6s;
}

#add-time {
  fill: lightgreen;
}
#subtract-time {
  fill: lightcoral;
}

.time-edit-btn:hover {
  transform: scale(1.1);
  /* filter: drop-shadow(0 0 3px white); */
  transition: .3s;
}