.welcomeWindow {

  
}

.dialog-box-wrapper {
  width: 100%;
  height: 100vh;
  position: fixed;
  

  /* left: 50%;
  top: 5%;
  transform: translate(-50%); */

  z-index: 10;

  background: rgb(255, 222, 113);



  border: 2px dashed black;
  border-radius: 10px;

  padding-bottom: 2rem;
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-gutter: auto;
}

.dialog-box {
  /* position: absolute;
  width: 95%;
  height: 95%;
  background-color: blue;
  font-size: 5rem; */


}

.invisible {
  display: none
}