.header-main {
  position: relative;

  font-size: 3rem;

  display: flex;
  justify-content: center;

  padding: 1rem 0 1rem 0;
}

h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;

  user-select: none;
}

.header-buttons {
  position: absolute;
  right: 0;

  display: flex;
  align-items: center;
  font-size: 3rem;
}

/* // Plus Task Button */
.plus {
  left: 5px;

  fill: var(--button-green);
  filter: drop-shadow(0 0 2px black);

  transition: .3s;

  cursor: pointer;
}

.plus.open {
  fill: var(--button-red);

  transform: rotate(45deg);
  transition: .3s;
}

/* Plus Button Hover */
.plus:hover {
  transform: scale(1.2);

  transition: .3s;
}

.plus.open:hover {
  fill: var(--button-red);
  transform: rotate(45deg) scale(1.2);
}



/* Plus Button Active */
.plus:active,
.plus.open:active {
  filter: drop-shadow(0 0 1px white);
  fill: white;
  transition: .1s;
}

/* ! HELP BUTTON */
.help-btn:hover {
  fill: yellow;
  filter: drop-shadow(0 0 2px yellow);

  animation: spin 2s linear infinite;

  transition: .1s ease;
  cursor: pointer;
}

/* ! SETTINGS BUTTON */
.settings-btn:hover {
  fill: yellow;
  filter: drop-shadow(0 0 2px yellow);

  animation: spin 2s linear infinite;

  transition: .1s ease;
  cursor: pointer;
}


@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* ! NEW TASK FORM */
.new-task-form {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-bottom: 1rem; */
}


#task-name {
  border-radius: 7px 0 0 7px;
  /* height: 1.8rem; */
  padding-left: .5rem;
}

/* Form Add Task Button */
#add-task-btn{
  border: 2px solid black;
  border-radius: 0 7px 7px 0;
  height: 2.5rem;

  background: var(--button-green);

  transition: .5s;

  cursor: pointer;
}

#add-task-btn:hover{
  box-shadow: 0 0 3px white;
  border: 2px solid white;

  transition: .3s;
}

#add-task-btn:active{
  /* transform-origin: left; */
  transform: scale(.9);
  border-radius: 7px;
  box-shadow: 0 0 5px white;

  transition: 0s;
}

