.header-main {
  display: flex;
  justify-content: space-between;
  padding: .5rem 0 2rem 0;
}

h1 {
  font-size: 3rem;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;

  user-select: none;
}

.header-buttons {
  display: flex;
  align-items: center;
  font-size: 3rem;
}

/* // Add Task Button */
.plus {
  fill: lightgreen;
  transition: .3s;

  cursor: pointer;
}

.plus:hover {
  /* filter: drop-shadow(0px 0px 1px white); */
  fill: greenyellow;

  transform: scale(1.1);
  transition: .3s;
}

.plus:active,
.plus.open:active {
  filter: drop-shadow(0 0 1px white);
  fill: white;
  transition: .1s;
}

.plus.open {
  fill: lightcoral;

  transform: rotate(45deg);
  transition: .3s;
}

.plus.open:hover {
  fill: lightcoral;
  transform: rotate(45deg) scale(1.1);
}

/* // New Task Form */

.new-task-form {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}
