.history-component-wrapper {

  border: 1px solid black;
  border-radius: 10px;
  padding: 5px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}


.history-wrapper {
  display: flex;
  justify-content: center;

  font-family: 'Share Tech Mono', monospace;

  /* overflow-y: scroll; */
  max-height: 200px;


}

.scrollbar-y {
  overflow-y: scroll;
}

.history-table {
  padding: 5px;
  /* overflow-y: scroll;
  max-height: 200px; */
}

.history-row {
  cursor: pointer;
  border-bottom: 1px dotted black;
}
.history-row:last-of-type {
  cursor: pointer;
  border-bottom: none;
  padding-bottom: 20px;
}

.history-row:hover {
  outline: 2px solid white;
  background: rgba(255,255,255, .2)
}

.history-table td {
  padding: .5rem;
  text-align: center;
}

.history-date {
  border-right: 1px dotted black;
}

.btn-history {
  font-family: 'Share Tech Mono', monospace;
}