/* ! OVERALL COMPONENT WRAPPER */
.history-component-wrapper {
  /*// Component Variables */
  --history-table-height: 200px;
  --table-border-visible: 1px solid black;
  --table-border-hidden: 1px solid rgba(0,0,0,0);

  /* Wrapper Styles */
  border-radius: 10px;
  margin-top: 5px;
  /* margin-bottom: 1rem; */

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

/* // Width transition when table being revealed */
.compressed {
  max-width: 12rem;

  transition: .6s ease;
}
.uncompressed {
  max-width: 50rem;

  transition: .6s ease;
}

/* !----------------*/
/* ! HISTORY BUTTON */
.btn-history {
  font-family: 'Share Tech Mono', monospace;
  font-size: 2rem;

  width: 10rem;

  /* background: lightgreen; */
  background: var(--button-blue);

  border-radius: 20px;
  border: 2px solid black;

  box-shadow: var(--button-shine);
  transition: border .4s, width .4s ease .4s, border-radius .4s ease .4s;

  cursor: pointer;
}

.btn-history.expanded {
  width: 100%;

  border-radius: 10px 10px 0 0;

  transition: .4s;
}

.btn-history:hover {
  border: 2px solid white;

  transition: border .4s, width .4s ease .4s, border-radius .4s ease .4s;
}
.btn-history.expanded:hover {
  border: 2px solid white;

  transition: .4s;
}

.btn-history:active {
  box-shadow: var(--button-shine-click);
}


/* !----------------*/
/* ! HISTORY TABLE WRAPPER */
.history-wrapper {
  display: flex;
  justify-content: center;

  font-family: 'Share Tech Mono', monospace;

  max-height: var(--history-table-height);

  border-radius: 0 0 10px 10px;
  border-left: var(--table-border-visible);
  border-right: var(--table-border-visible);
  border-bottom: var(--table-border-visible);
}

/* // Per conditional class statement in History.js, add scrollbar if more than 6 date entries. */
.scrollbar-y {
  overflow-y: scroll;
}

/*// If scrollbar present, make lower-right border radius sharp to fit scrollbar. */
.scrollbar-corner-radius {
  border-radius: 0 0 0 10px;
}


.history-wrapper.collapse {
  animation: hidetable .6s ease forwards;
}

.history-wrapper.reveal {
  animation: revealtable .6s ease forwards;
}

.history-wrapper.revealed {
  max-height: var(--history-table-height);
}

.history-wrapper.hidden {
  height: 0;
  max-height: 0;
  opacity: 0;
}

@keyframes revealtable {
  0% {
    max-height: 0;
    opacity: 0;
  }
  40% {
    max-height: 0;
    opacity: 0;
  }
  100% {
    max-height: var(--history-table-height);
    opacity: 1;
  }
}

@keyframes hidetable {
  0% {
    max-height: var(--history-table-height);
    opacity: 1;
  }
  66% {
    max-height: 0;
  }
  100% {
    max-height: 0;
    opacity: 0;
  }
}

/* !----------------*/
/* ! HISTORY TABLE */
.history-table {
  padding: 5px;
}

.history-row {
  cursor: pointer;
  border-bottom: 1px dotted black;
}
.history-row:last-of-type {
  border-bottom: none;
}

.history-row:hover {
  outline: 2px solid white;
  background: rgba(255,255,255, .2)
}

.history-table td {
  padding: .5rem;
  text-align: center;
}

.history-date {
  border-right: 1px dotted black;
}


