.menu-wrapper {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  width: 100%;
  max-width: var(--app-max-width);
  height: 100%;

  z-index: 5;

  background-color: rgb(192, 192, 192);
  /* background-color: rgba(0,0,0,.9); */
  background-color: rgba(255,255,255,.7);
  background: var(--app-bg);

  padding: 0 0 0 0;

  border: 1px solid var(--app-border-color);
  border-radius: 5px;

  white-space: nowrap;

  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
}


.menu-header,
.menu {
  width: 100%;

}

.menu-header {
  width: 100%;
  /* height: 5%; */
  margin-bottom: 2rem;
  padding-top: 1rem;
  /* background: cyan; */
}

.cancel-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 35px;
  height: 35px;
  fill: var(--button-red);

  cursor: pointer;
}

.menu {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
}

.menu-item {
  display: flex;
  /* align-items: center; */
  width: 100%;
  margin-bottom: 1rem;
}


.menu-property {
  margin-right: 1rem;
  flex: 1;
  text-align: right;
}

.menu-value {
  flex: 1;
}

.menu-select-wrapper {

}

.menu-select {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.menu-select-option {
  display: inline-block;
  margin-bottom: .2rem;
  cursor: pointer;
  padding: .5rem;

  border-radius: 10px;
}

.active-setting {
  border: 2px solid white;
}