.menu-wrapper {
  position: fixed;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  /* top: 50%; */
  /* transform: translateX(-50%) translateY(-50%); */
  
  width: 100vw;
  /* max-width: var(--app-max-width); */
  /* height: 100%; */

  z-index: 10;

  background-color: rgb(192, 192, 192);
  /* background-color: rgba(0,0,0,.9); */
  background-color: rgba(255,255,255,.7);
  background: var(--app-bg);

  padding: 0 0 0 0;

  /* border: 2px solid var(--app-border-color); */
  /* border-bottom: 2px solid var(--app-border-color); */
  border-bottom: 2px solid black;
  border-radius: 5px;

  white-space: nowrap;

  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;

  /* top: -50rem; */
  opacity: 0;
  pointer-events: none;
  transition: .3;

}

.menu-wrapper.menu-open {
  top: 0;
  opacity: 1;
  pointer-events: all;
  transition: .3s ease;
}

.menu-header-wrapper {
  width: 100%;
  background: var(--header-footer-bg);
  border-bottom: 1px solid black;
}

.menu-header,
.menu {
  position: relative;
  width: 100%;
  max-width: var(--app-max-width);
  margin: auto;
}

.menu-header {
  width: 100%;
  /* height: 5%; */
  /* margin-bottom: 2rem; */
  padding: 1rem;
  background: var(--header-footer-bg);
  /* border-bottom: 1px solid black; */
}

.cancel-btn {
  position: absolute;
  top: .75rem;
  right: 1rem;
  width: 35px;
  height: 35px;
  fill: var(--button-red);

  cursor: pointer;
}

.menu {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  margin-top: 1rem;
}

.menu-item {
  display: flex;
  /* align-items: center; */
  width: 100%;
  margin-bottom: 1rem;
}


.menu-property {
  margin-right: 1rem;
  flex: 1;
  text-align: right;
  padding-top: .7rem;
}

.menu-value {
  flex: 1;
}

.menu-select-wrapper {

}

.menu-select {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  width: 140px;
  min-width: fit-content;
}

.menu-select-option {
  display: inline-block;
  margin-bottom: .2rem;
  cursor: pointer;
  padding: .5rem;
  width: 100%;

  border-radius: 10px;
}

.menu-select-option:hover {
  border: 2px solid var(--app-border-color);
}

.active-setting {
  border: 2px solid var(--app-border-color);
}